*,
*::after,
*::before {
  box-sizing: border-box;
}

:root{
  --bright_orange: hsl(31, 77%, 52%);
  --dark_cyan: hsl(184, 100%, 22%);
  --very_dark_cyan: hsl(179, 100%, 13%);
  --transparent_white: hsla(0, 0%, 100%, 0.75);
  --very_light_gray: hsl(0, 0%, 95%);
}

body{
  padding: 0;
  margin: 0;
  margin: 0 auto;
  display: grid;
  place-content: center;
  min-height: 100vh;
  color: var(--transparent_white);
  font-size: 15px;
  font-family: 'Lexend Deca', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer{
  color: #000;
}

h2{
  font-family: 'Big Shoulders Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: xx-large;
  text-transform: uppercase;
  color: var(--very_light_gray);
}

p{
  margin-bottom: 2rem;
  line-height: 1.75em;
}

section a{
  text-decoration: none;
  padding: 0.75em 1.75em;
  border-radius: 50px;
  background-color: var(--very_light_gray);
}

section a:hover{
  border: 2px solid var(--transparent_white);
  background-color: transparent;
  color: var(--transparent_white);
}

main{
  width: 90%;
  margin: 0 auto;
}

.container{
  padding: 3rem 0;
}

.container-inner{
  width: 70%;
  margin: 0 auto;
}

.sedan{
  background-color: var(--bright_orange);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.suv{
  background-color: var(--dark_cyan);
}

.luxury{
  background-color: var(--very_dark_cyan);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bright-orange{
  color: var(--bright_orange);
}

.dark-cyan{
  color:  var(--dark_cyan);
}

.very-dark-cyan{
  color: var(--very_dark_cyan);
}

@media (min-width: 850px) {
  main{
    max-width: 1200px;
  }

  .row{
    display: flex;
  }

  .sedan{
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .luxury{
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}